<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
    <div class="copyright copyright--user">
      <span>{{ $.Site.Copyright | safeHTML }}</span>
      {{ else }}
      <div class="copyright">
        <span>© {{ now.Year }} Powered by <a href="http://gohugo.io">Hugo</a></span>
        {{ end }}
        {{ if $.Site.Params.mastodonLink }}
        <span>:: Find me on <a rel="me" href="{{ $.Site.Params.MastodonLink }}">Mastodon</a></span>
        {{ end }}
        <!-- Theme made by https://twitter.com/panr -->
      </div>
    </div>
</footer>

<script src="{{ " assets/main.js" | absURL }}"></script>
<script src="{{ " assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
<script src="{{ " assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
